@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply inline-block px-8 py-2 bg-yellow-700 shadow-lg text-white rounded-lg select-none
    }
    .color_btn {
        @apply w-36 h-20 animate-bounce
    }
}

